// Custom styles.
h1
  @media (max-width: 767px)
    margin-left: 0.5em;


.posts-expand .post-body ul li
  @media (max-width: 767px)
    margin-right: 0.5em;

li
  @media (max-width: 767px)
    margin-right: 0.5em;
